* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.up {
    background-color: #4c6b7f;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;

}

.name {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.position {
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    margin-right: 15px;
}

.centered-image img {
    border-radius: 100%;
    height: 40vh;
}

.left-side {
    display: flex;
    flex-direction: column;
    background-color: #c3c7ca;
}

.left-side {
    width: 25%;
    padding: 10px;
}

.right-side {
    width: 45%;
    padding: 10px;
}

.phone,
.email,
.location,
.linkedin,
.github,
.python,
.html,
.css,
.Javascript {
    width: 5%;
}

.contact-info li {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.tecnology-skills li {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
}

hr {
    border-color: #000;
}
